/* font-family: 'Uni Neue';
font-family: 'Uni Neue Book'; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Uni Neue", sans-serif;
}

.header {
  height: 800px;
  background-color: #eef9ff;
}

.container {
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  padding-top: 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 75px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__title {
  position: relative;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: #363636;
  padding-right: 27px;
}

.logo__title::after {
  position: absolute;
  right: 0;
  top: 1px;
  content: "";
  display: block;
  width: 1px;
  height: 30px;
  background-color: #dddddd;
}

.logo__slogan {
  font-family: "Uni Neue Book", sans-serif;
  font-size: 12px;
  line-height: 1.17;
  color: #4b5455;
  padding-left: 27px;
  width: 160px;
}

.top-nav {}

.top-vav__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #363636;
  margin-right: 48px;
  transition: color 0.2s ease-in;
}

.top-vav__link:last-child {
  margin-right: 0;
}

.top-vav__link:hover {
  color: #22ddd4;
}

.header__content {

  width: 645px;

}

.header__title {
  font-family: 'Uni Neue Book', sans-serif;
  font-weight: 400;
  font-size: 82px;
  line-height: 1.1;

  color: #363636;
  margin-bottom: 27px;


}

.header__title span {
  font-family: 'Uni Neue', sans-serif;
  color: #69B0AC;
}

.header__text {

  width: 645px;
  margin-bottom: 40px;
}

.header__text p {
  width: 440px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #7C7C7C;

}

.header-list {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-list b {
  font-weight: bold;
  color: #363636;
}

.header-list__item {
  position: relative;
  margin-bottom: 15px;
  padding-left: 40px;
}

.header-list__item::before {
  content: "";
  width: 20px;
  height: 23px;
  background-image: url(./../img/bullet.svg);
  position: absolute;
  left: 0;
  top: 1px;
}

.header-row {
  display: flex;
}